
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
     margin: 0;
     padding:  0;
}

html {
     scroll-behavior: smooth;
     background-color: rgb(8, 38, 94);
     padding: 0%;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lobster', cursive;
     line-height: 1.80857;
     font-weight: normal;
}

.potions {
     text-align: center;
     border: #ebebf4 solid 3px;
     border-radius: 20px;
     padding: 25px;
     margin: 30px;
     background-color: rgba(170,238,242,255);
}

.form {
     width: 300px;
}

button {
     text-align: center;
}

.amount {
     width: 80px;
     
}
.picture {
     width : 300px; 
     background-position: -300px -30px;
     height: 300px;
     padding-left: 30px;
     padding-right: 30px;
     border-radius: 50%;
}

.submit {
     margin-left: 110px;
     width: 80px
}

.label {
     font-size: 18px;
}

#root {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 1;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 30px;
}

h2 {
     font-size: 30px;
     font-weight: bold
}

h3 {
     font-size: 25px;
}

h4 {
     font-size: 20px
}

h5 {
     font-size: 16px
}

h6 {
     font-size: 13px
} 

/* Filter buttons */
ul {
     margin: 0;
     padding: 0;
   }
   
.chosen {
     opacity: 0.2;
     pointer-events: none;
}
/* Style the list items */
ul li {
     cursor: pointer;
     position: relative;
     padding: 12px 8px 12px 40px;
     background: #eee;
     font-size: 18px;
     transition: 0.2s;
   
     /* make the list items unselectable */
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     list-style-type: none;
   }

   ul li:hover {
     background: #ddd;
   }
   
   /* When clicked on, add a background color and strike out text */
   ul li.checked {
     background: #888;
     color: #fff;
     /* text-decoration: line-through; */
   }
   
.headerelement {
     background-color: white;
     display: grid;
     grid-template-columns: 390px 415px 400px;
     margin: auto;
     grid-gap: 165px;
   } 
   
  